*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #000000d5;
    width: fit-content;
    height: fit-content;
    color: white ;
}

.result {
    width: 100%;
}
.result > input{
    background-color: #99ce99ac;
    border: none;
    width: 100%;
    padding: 10vh 0;
}
input::placeholder{
    text-align: end;
    transform: translateY(40px);
    padding-right: 1vw;
    color: white;
    font-size: 50px;

}
.allBtns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vh;
    padding: 1vw;
}
.allBtns > button{
    color: white; 
    width: 100%;
    padding: 4vh 2vw;
    border-radius: 50%;
    border: none;
    font-size: larger;
    background-color: #00000070;
    cursor: pointer;
}
.gray{
    background-color: #808080c1 !important;
}
.yellow{
    background-color: #fcbf45 !important;
}
