*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    background-color: hsla(0, 0%, 15%);
    width: fit-content;
    height: fit-content;
    color: white ;
    border-radius: 15px;
    
}


input{
    width: 100%;
    padding: 20px 30px 20px 0 ;
    box-sizing: border-box;
    text-align: right;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    font-size: 30px;
}
input::placeholder{
    color: white;
    font-size: 30px;
}
.allBtns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vh;
    padding: 2vw;
}
button{
    color: white; 
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    background-color: hsla(0, 0%,30%);
    cursor: pointer;
}
button:hover{
    background-color: hsla(0, 0%,40%);
}
button:active{
    background-color: hsla(0, 0%,50%);
}
.gray{
    background-color: hsla(0, 0%, 50%, 0.757) !important;
}
.yellow{
    background-color: hsl(35, 100%, 55%) !important;
}
.yellow:hover{
    background-color: hsl(35, 100%, 65%) !important;
}
.yellow:active{
    background-color: hsl(35, 100%, 75%) !important;
}
